<div>
      <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#!hostelryuserhome">Hostelry Admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#!hprint" style="cursor: pointer;">Print</a></li>
          <li><a href="#!hostelryprofile" style="cursor: pointer;">Profile</a></li>
          <li><a ng-click="hostelryhomelogout()" style="cursor: pointer;"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
        </ul>
      </div>
    </nav>

    <div class="panel panel-primary" style="width: 90%; margin-left: 65px; margin-top: 50px;">
      <div class="panel-body">

        <div class="col-sm-2" style="float: left; margin-left: 190px;">
            <div class="panel panel-success" >
              <div class="panel-heading" style="text-align: center;">Rooms</div>
              <div class="panel-body">
                <i class="fa fa-bed fa-5x" aria-hidden="true" style="padding-left: 30px;"></i>
                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#addrooms">Open</button>
              </div>
          </div>
        </div>
        <div class="col-sm-2" style="float: left;">
            <div class="panel panel-success" >
              <div class="panel-heading" style="text-align: center;">View Rooms</div>
              <div class="panel-body">
                <i class="fa fa-key fa-5x" aria-hidden="true" style="padding-left: 33px;"></i><br>
                <button class="btn btn-success btn-block" data-toggle="modal" type="button" data-target="#viewrooms">Open</button>
              </div>
          </div>
        </div>
        <div class="col-sm-2" style="float: left;">
            <div class="panel panel-success" >
              <div class="panel-heading" style="text-align: center;">Confirm Reservation</div>
              <div class="panel-body">
                <i class="fa fa-credit-card fa-5x" aria-hidden="true" style="padding-left: 33px;"></i><br>
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#confirmreservation">Open</button>
              </div>
          </div>
        </div>
        <div class="col-sm-2" style="float: left;">
            <div class="panel panel-success" >
              <div class="panel-heading" style="text-align: center;">View Reservations</div>
              <div class="panel-body">
                <i class="fa fa-folder fa-5x" aria-hidden="true" style="padding-left: 33px;"></i><br>
                <button class="btn btn-success btn-block" data-toggle="modal" data-target="#viewreservations" ng-click="viewreservationtable()">Open</button>
              </div>
          </div>
        </div>

         <div id="viewreservations" class="modal fade" role="dialog">
          <div class="modal-dialog" style="width: 95%;">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Reservation</h4>
              </div>
              <div class="modal-body">
                <table class="table table-striped" ng-hide="hostelryuserstableshow"> 
                    <thead>
                      <tr>
                        <th>Reservation ID</th>
                        <th>Date Created</th>
                        <th>Reservation Code</th>
                        <th>Reservation Status</th>
                        <th>Room</th>
                        <th>Customer</th>
                        <th>Reservation Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="i in viewreservationform">
                        <td>{{i.reservation_id}}</td>
                        <td>{{i.reservation_date}}</td>
                        <td>{{i.reservation_code}}</td>
                        <td>{{i.reservation_status}}</td>
                        <td>{{i.room_name}}</td>
                        <td>{{i.firstname}} {{i.middlename}} {{i.lastname}}</td>
                        <td>{{i.room_reservation}}</td>
                        <td><button type="button" class="btn btn-danger" ng-click="deletereservation(i.reservation_id)">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <div id="confirmreservation" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Reservation</h4>
              </div>
              <div class="modal-body">
                <form method="POST" ng-submit="searchreservationcode()" ng-hide="searchform">
                  <br>
                  <input type="text" class="form-control" ng-model="reservationcode.code" placeholder="Type the Reservation Code"><br>
                  <button class="btn btn-success btn-md" type="submit" style="margin-left: 200px; width: 150px;">Search</button>
                </form>
                <div ng-hide="codeform">
                  <h1>Reservation: </h1>
                  <form method="POST" ng-submit="confirmreservationcode()">
                    <p style=" padding-left: 80px; padding-top: 20px;">Reservation ID: {{reservationcode.reservation_id}}</p>
                    <p style=" padding-left: 80px;">Reservation Date: {{reservationcode.reservation_date}}</p>
                    <p style=" padding-left: 80px;">Reservation Status: {{reservationcode.reservation_status}}</p>
                    <p style=" padding-left: 80px;">Room Name: {{reservationcode.room_name}}</p>
                    <p style=" padding-left: 80px;">Room Price: {{reservationcode.room_price}}</p>
                    <p style=" padding-left: 80px;">Customer Name: {{reservationcode.firstname}} {{reservationcode.middlename}} {{reservationcode.lastname}}</p>
                    <button type="submit" class="btn btn-success btn-md" style="margin-left: 230px; width: 100px;">Confirm</button>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closesearchreservationcode()">Close</button>
              </div>
            </div>

          </div>
        </div>

        <div id="addrooms" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rooms</h4>
              </div>
              <div class="modal-body">
                <form method="POST" ng-submit="hostelryuseraddroom()">
                  <br>
                  <input type="text" name="roomnumber" id="room_number" class="form-control" onkeydown='return (event.which >= 48 && event.which <= 57) 
   || event.which == 8 || event.which == 46' placeholder="Room Number" ng-model="hostelryuseraddroomform.roomnumber"><br>
                  <input type="text" name="roomname" id="room_name" class="form-control" placeholder="Room Name" ng-model="hostelryuseraddroomform.roomname"><br>
                  <input type="text" name="roomtype" id="room_type" class="form-control" placeholder="Room Type" ng-model="hostelryuseraddroomform.roomtype"><br>
                  <input type="text" name="roomdescription" id="room_description" class="form-control" placeholder="Room Description" ng-model="hostelryuseraddroomform.roomdescription"><br>
                  <input type="text" name="roomcapacity" id="capacity" class="form-control" onkeydown='return (event.which >= 48 && event.which <= 57) 
   || event.which == 8 || event.which == 46' placeholder="Room Capacity" ng-model="hostelryuseraddroomform.roomcapacity"><br>
                  <input type="text" name="roomprice" id="capacity" onkeydown='return (event.which >= 48 && event.which <= 57) 
   || event.which == 8 || event.which == 46' class="form-control" placeholder="Room Price" ng-model="hostelryuseraddroomform.roomprice"><br>
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  <p style="font-size: 20px;">{{hostelryuserformsuccess}}</p>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <div id="viewrooms" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg" style="width: 95%;">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rooms</h4>
              </div>
              <div class="modal-body">
                  <table class="table table-striped" ng-hide="hostelryuserstableshow"> 
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Capacity</th>
                        <th>Status</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="i in hostelryusersroomtable">
                        <td>{{i.room_id}}</td>
                        <td>{{i.room_number}}</td>
                        <td>{{i.room_name}}</td>
                        <td>{{i.room_type}}</td>
                        <td>{{i.room_description}}</td>
                        <td>{{i.capacity}}</td>
                        <td>{{i.room_status}}</td>
                        <td>{{i.room_price}}</td>
                        <td><button type="button" class="btn btn-danger btn-block btn-xs" data-dismiss="modal" ng-click="hostelryusersdelete(i.room_id)">Delete</button></td>
                        <td><button type="button" class="btn btn-primary btn-block btn-xs" ng-click="tableupdatebutton(i.room_id)">Update</button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div ng-hide="hostelryuserupdateshow">
                    <form method="POST" ng-submit="hostelryusersupdateroomsform()">
                      <br>
                      <input type="text" name="roomnumber" id="room_number" class="form-control" placeholder="Room Number" ng-model="hostelryyusersupdateform.room_number"><br>
                      <input type="text" name="roomname" id="room_name" class="form-control" placeholder="Room Name" ng-model="hostelryyusersupdateform.room_name"><br>
                      <input type="text" name="roomtype" id="room_type" class="form-control" placeholder="Room Type" ng-model="hostelryyusersupdateform.room_type"><br>
                      <input type="text" name="roomdescription" id="room_description" class="form-control" placeholder="Room Description" ng-model="hostelryyusersupdateform.room_description"><br>
                      <input type="text" name="roomcapacity" id="capacity" class="form-control" placeholder="Room Capacity" ng-model="hostelryyusersupdateform.capacity"><br>
                      <!-- <input type="text" name="roomstatus" id="status" class="form-control" placeholder="Room Capacity" ng-model="hostelryyusersupdateform.room_status"><br> -->
                      <select>
                        
                      </select>
                      <input type="text" name="roomprice" id="capacity" class="form-control" placeholder="Room Price" ng-model="hostelryyusersupdateform.room_price"><br>
                      <button type="submit" class="btn btn-primary btn-block">Submit</button>
                      <button type="button" class="btn btn-danger btn-block" ng-click="closeupdate()">Cancel</button>
                    </form>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

        <div class="container" style="margin-top: 250px;">
          <div class="panel panel-danger">
            <div class="panel-body">
              <h1 style="font-size: 30px; font-family: arial; padding-left: 40px;">Reservation Status</h1><br><br>
                <canvas id="bar" style="padding-left: 20px;" class="chart chart-bar"
                chart-data="rdata" height="70vw" chart-options="roption" chart-labels="rlabel">
              </canvas><br><br>

              <h1 style="font-size: 30px; font-family: arial; padding-left: 40px;">Room Reservation Status</h1><br><br>
                <canvas id="bar" style="padding-left: 20px;" class="chart chart-bar"
                chart-data="rsdata" height="70vw" chart-options="rsoption" chart-labels="rslabel">
              </canvas><br><br>

            </div>
          </div>
        </div>

        

      </div>
    </div>

</div>