<div>

    <div class="panel panel-primary" style="width: 90%; margin-left: 65px; margin-top: 50px;">
      <div class="panel-body">

        <button class="btn btn-primary btn-md" ng-click="backHome()">Back</button>

        <div class="row">
          <div class="col-xs-5">
            <h3><a href="./services/reserveprint.php">Reserved List</a></h3>
            <h3><a href="./services/cancelprint.php">Canceled List</a></h3>
            <h3><a href="./services/confirmprint.php">Served List</a></h3>
          </div>
        </div>

      </div>
    </div>

</div>